# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 62635eb5ae505f4be59a8630e817c758c3cb6faff53b11ad6968a6f87448031261decf743daf33e31808fdd5700931d0225148d0a5dbbd00ca69f8fbb35d93dc
  client_id: 5fb56e77273b2b2b4fd402102d149992ed91a82598c56822dfec41f153e205b4
  client_secret: 40db3b975181d95277419605527cb330c499a2768e5072c1a928dc8a64700302
  grant_type: authorization_code
  redirect_uri: "http://localhost:3001"

test:
  secret_key_base: d3b5958c72cfd474e3373c2cd76bc5a7e7868e33fee4103e2791b041303ba4555bd852c8e62434333a8f6400b099f5a01772c1c208c045aef8d859b0d4d4e707
  client_id: 5fb56e77273b2b2b4fd402102d149992ed91a82598c56822dfec41f153e205b4
  client_secret: 40db3b975181d95277419605527cb330c499a2768e5072c1a928dc8a64700302
  grant_type: authorization_code
  redirect_uri: "http://localhost:3001"

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  client_id: 5fb56e77273b2b2b4fd402102d149992ed91a82598c56822dfec41f153e205b4
  client_secret: 40db3b975181d95277419605527cb330c499a2768e5072c1a928dc8a64700302
  grant_type: authorization_code
  redirect_uri: "http://localhost:3001"
